@charset "utf-8";
@import url('reset.css');
@font-face {
	font-family: NanumSquareWeb;
	src: local(../font/Poppins-Black),
	local(../font/Poppins-Black),
	url(../font/Poppins-Black.eot?#iefix) format('embedded-opentype'),
	url(../font/Poppins-Black.woff) format('woff'),
	url(../font/Poppins-Black.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
	unicode-range: U+0-10FFFF;
}
h1 {
	font-family: NanumSquareWeb, sans-serif;
}